<input type="button" onclick="location.href='/'" value="Registrar un Producto">

<div class="products-container">
    {{#each products}}
    <div class="product-card">
        <p>{{this.name}}</p>
        <p>{{this.tipo}}</p>
        <p>{{this.age}}</p>
        <img src={{this.thumbnail}}>
    </div>
    {{/each}}
</div>